{% extends 'administrator_base.html' %}
{% load static %}
{% block title %}Notice{% endblock %}
{% block custom_link %}<link rel="stylesheet" href="{% static 'css/administrator/notice.css' %}"> {% endblock %}
{% block main_topic %} NOTICE {% endblock %}
{% block block_content %}
<div class="content">
    <p class="card nav-path-container">
        <a href="{% url 'administrator:dashboard_page' %}">Dashboard/</a> 
        <a href="{% url 'administrator:notice_page' %}">Notice/</a> 
    </p>
    <h6 class="sub-topic">Kindly note, this notice will be sent to all the modules</h6>
    <form class="card card-container" method="POST">
        {% csrf_token %}
        <input type="text" name="notice" id="" class="form-control">
        <input type="submit" value="notify" class="btn button-orange">
    </form>

</div>

{% endblock %}